/* Clase categorias */

#categoria {
	margin: 0 auto;
	overflow: hidden;
	background-color: white;
	padding: 0px;
}

.categoria-heading {
	padding-left: 1.900em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	color: #213D5F;
	display: flex;
	margin: 0;
	font-size: 25px;
	font-weight: bold;
}

/*Acerca de cards*/

img.card{
	float: none;
	width: 40%;
}

div#enlace-repositorio{
	text-align: center;
	margin: 5%;
}

.categoria-heading {
	margin-top: 1.5em;
}

.thumbnail{
	margin: 10% 5%;
}