/* Anuncios */

#categoria h2 {
  color: #001C43;

}

#categoria{
  margin: 0 auto;
  overflow: hidden;
  background-color: white;
}

div.responsive-nav{
    display: none;
}

#paginas {
	text-align: right;
}