/*Box Sizing*/

* {
    box-sizing: border-box;
}

/*Box Model*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Cabezera de la pagina */

#cabecera {
   background-color: #00979c;
   margin: 0px;
   overflow: hidden;
}

body {
    position: relative;
    top: -22px;
    background-color: white;
    background-size:cover;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 1.0625rem;
}

h1{   
    color: #00979C;
}

h2 {
    padding-top: 12px;
    margin:0;
    font-size: 100px;
	color: white;
	text-align: center;
}

img{
    float: left;
    width: 10%;
}

/* Barra de navegacion */ 

#menu{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav {
    background-color: white;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: #00979C
}

ul {
    display: inline-block;
    width: 75%
}

ul li{
    padding: 0;
    margin: 0;
    float: left;
    width: 20%;
    height: 40px;
    opacity: .8;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
}

ul li a {
    text-decoration: none;
    color: #00979C;
    display: block;
}

ul li a:hover{
    font-weight: bold;
}

/* Barra para buscar */

#botonbuscar {
    background-color: #00979c;
    width: 15%;
    border-radius: 0 4px 4px 0;
    border: 1px solid #3f3f3f;
    border-left: 0;
    color: #e4e4e4 !important;
    padding: 0;
    vertical-align: top;
}

form {
    display: inline-block;
    width: 100%;
}

#textobuscar {
    width: 15%;
    border-radius: 4px 0 0 4px;
    display: inline-block;
    border: 1px solid #3f3f3f;
    background-color: #49594a;
    padding-left: 5px;
    color: #ccc;
    vertical-align: auto;
}

/* Clase categorias */

#categoria{
    margin: 0 auto;
    border-left-style: groove;
    border-right-style: groove;
    overflow: hidden;
}

.categoria-heading {
    background-color: #0097A5;
    color: white;
    padding-left: 8%;
    margin-top: 0;
    margin-bottom: 0;
}

/* Clases foro */

.foro{
    border-top: 1px solid rgba(255,255,255,.15);
    display: flex;
    flex-wrap: wrap;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
} 

.foro{
    margin: 1.25rem .625rem 0 ;  
    width: calc((100&/2)- 1.25rem);
    display: flex;
    flex-wrap: wrap;
}

.foro-description {
    font-size: .9375rem;
    line-height: 1.25;
    margin: .25em 0 0;
    max-height: 3.515625rem;
    overflow: hidden;
    padding: 0;
}

.foro-details {
    display: flex;
    flex: auto;
    flex-direction: column;
    margin-left: 1rem;
    overflow: hidden;
}

.foro-heading {
    font-family: sans-serif;
    font-size: 1.0625rem;
    font-weight: 100;
    font-weight: bold;
    line-height: 1.25;
    margin: 0;
    padding: 0;
    width: 100%;
}

.foro-contenido{
    display: flex;
    flex-direction: row;
    padding: 1.160rem;
    margin: 1.25rem 2.725rem 1.25rem;    
    box-shadow: 0 0 0 1px #563737;
    background-color: rgba(255,255,255,.05);
    border-width: 1px;
    color: #00979C;
    display: flex;
    position: relative;
    text-decoration: none;
    border: none;   
    width: 40%;
}  