/* hilo */
#hilo {
  margin: 0 auto;
}

#paginas {
  text-align: right;
}

/* Posts */

#op-post h3 {
  background-color: #001C43;
  color: white;
  padding: 5px;
}

#op-post {
  background-color: white;
  padding-bottom: 15px;
  margin: 3px auto;
}

.poster {
  width: 15%;
  padding: 5px;
  float: left;
}

.post-area {
  padding: 5px;
  overflow: hidden;
}

.poster-info img {
  width: 85%;
}

.opciones a {
  padding-left: 5px;
}

/* respuestas */

.rep {
  padding-left: 35px;
  background-color: #E3F7FC;
  margin: 3px auto;
}

.rep .poster-info img {
  width: 73%;
}

/* final del hilo */
#hilo-footer {
  margin: 0 auto;
}